body{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: hsl(212, 45%, 89%);
}


.card{
    height:500px;
    width:350px;
    align-items:center;
    background-color: hsl(0, 0%, 100%);
    padding-top:15px;
    padding-bottom:15px;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2), 0 6px 20px 0 rgba(138, 138, 138, 0.19);
  text-align: center;
}
.card h4{
    margin:30px;
    margin-bottom:15px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size:25px;
}
.card p{
    margin:30px;
    margin-top:15px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: hsl(0, 0%, 53%);
}

.image img{
    width:90%;
    border-radius:10px;
}

.image{
    text-align: center;
}